*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-width: 316px;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px;
}

.header-wrapper {
  background-color:#e5f4f9;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
}

.logo-link {
  text-decoration: none;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.logo-text {
  font-family: 'Alkatra', cursive;
  font-size: 20px;
  font-weight: 600;
  color: #2979A2;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 35px;
}

.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hamburger-menu{
  display: none;
  cursor: pointer;
}

.hamburger-menu-line {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px 0;
  border-radius: 25px;
  background-color: #2979A2;
  transition: all 0.3s ease;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  margin: 80px 0 80px;
}

.menu-link {
  text-decoration: none;
  color: black;
  width: 320px;
  background-color: #fafafa
}

.menu-link:hover {
  box-shadow: 0px 9px 32px 12px rgba(0, 0, 0, 0.1)
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.item-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.item-name {
  width: 80%;
  font-size: 20px;
  font-weight: 600;
}



.footer-wrapper {
  background-color:#e5f4f9;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

@media (max-width: 406px) {
  .container {
    padding: 0 20px;
  }

  .navbar-list {
    position: fixed;
    right: -100%;
    top: 80px;
    gap: 25px;
    flex-direction: column;
    padding-top: 70px;
    background-color: rgba(229, 244, 249, 1);
    width: 100%;
    height: 45%;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }
    
  .navbar-list.active {
    right: 0;
  }
    
  .navbar-item {
    margin: 0;
    /* top: 80px; */
  }

  .navbar-link {
    font-size: 18px;
    padding: 0;
  }

  .hamburger-menu {
    display: block;
    z-index: 10;
  }

  .hamburger-menu.active .hamburger-menu-line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .hamburger-menu-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .hamburger-menu-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

  .menu-link {
    width: 100%
  }

  .item-image {
    height: unset;
  }

  .item-name {
    width: 70%;
  }
}


/* sledding.html */
.sledding-wrapper {
  height: calc(100vh - 250px);
}

.sledding-section {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.sledding-image {
  width: 40%;
}

.sledding-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* margin-top: 40px; */
}

.sledding-title {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 600;
}

.sledding-description {
  margin: 0 0 15px;
}

.sledding-age {
  margin-bottom: 15px;
  font-weight: 600;
  color: #dc2e2e;
}

.sledding-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  max-width: 160px;
  text-align: center;
  color: white;
  background-color: #2979A2;
  padding: 15px 10px;
  border-radius: 25px;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 954px) {
  .sledding-section {
    gap: 50px;
  }

  .sledding-image,
  .sledding-info {
    width: 50%;
  }
}

@media (max-width: 720px) {
  .sledding-wrapper {
    height: auto;
  }

  .sledding-section {
    flex-direction: column;
    gap: 35px;
    margin: 50px 0 80px;
  }

  .sledding-image,
  .sledding-info {
    width: 80%;
  }
}

@media (max-width: 514px) {
  .sledding-image,
  .sledding-info {
    width: 100%;
  }
}


/* kontaktai.html */
.contacts-title {
  font-weight: 600;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: calc(100vh - 350px);
  margin: 100px 0;
}

.contacts-title {
  font-size: 28px;
  font-weight: 600;
}

.contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.contact-link {
  text-decoration: none;
  color: black;
}

.map-wrapper {
  width: 40%;
}

.map {
  width: 100%;
}

@media (max-width: 954px) {
  .map-wrapper {
    width: 50%;
  }
}

@media (max-width: 720px) {
  .contacts {
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin: 40px 0 60px;
    height: auto;
  }

  .contacts-list-wrapper {
    text-align: center;
  }

  .contacts-title {
    margin-top: 0;
  }

  .map-wrapper {
    width: 70%;
  }
}

@media (max-width: 514px) {
  .contacts {
    align-items: flex-start;
  }

  .contacts-list-wrapper {
    text-align: left;
  }

  .map-wrapper {
    width: 100%;
  }
}